name: Docstring Coverage

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install docstr-coverage
        run: |
          python -m pip install --upgrade pip docstr-coverage

      - name: Run docstring coverage
        working-directory: ./datamule
        run: |
          docstr-coverage datamule --skip-magic --skip-init --fail-under 100
